* {
  padding: 0;
  margin: 0;
}

.align {
  display: flex;
  flex-direction: row;
}

.container {
  margin: 50px;
  width: 900px;
  height: 700px;
  border: 1px solid #000;
}

.left-panel {
  margin-top: 50px;
  margin-left: 50px;
}

.pixel {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
}

.pixel-obstacle {
  width: 10px;
  height: 10px;
  background-color: #f00;
  position: absolute;
  margin: 5px;
}

.pixel-fruit {
  width: 10px;
  height: 10px;
  background-color: #008000;
  position: absolute;
  margin: 5px;
}